#bg1{
    background-color:black;
}
#a1{
    color: aqua;
    
    text-align: center;
}
#a2{
    color: greenyellow;
    
    text-align: center;
}
#a3{
    color: crimson;
    
    text-align: center;
}
