
.a1{
    color: aqua;
    
    text-align:center;
}
.a2{
    color: greenyellow;
    
    text-align:left;
}
.a3{
    color: crimson;
    
    text-align: right;

}
a4.{
    color:darkgreen;
    
    text-align: none;
}